* {
    width: 1200px;
    padding: 0;
    margin: 0;
}

body {
    background: #f2f2f2;
}

header {
    width: 1180px;
    height: 70px;
    background: brown;
    border: 10px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1 {
    width: 20%;
    height: 10px;
    background: #270e96;
    position: relative;
    margin: 25px;
   
}

.box2 {
    width: 60%;
    height: 10px;
    background: #270e96;
    margin: 25px;
    
}
.box3 {
    width: 20%;
    height: 10px;
    background: #270e96;
    margin: 25px;
}

nav {
    width: 1180px;
    height: 70px;
    background: orange;
    border: 10px solid black;
    margin-top: -15px;
}

.box4 {
    width: 95%;
    height: 10px;
    background: #ffe600;
    margin: 5px;
    position: relative;
    top:25px;
    left: 20px;
}

.container {
    margin-top: 10px;
    width: 1200px;
    display: flex;
}

section {
    width: 800px;
    height: 100px;
    background: blueviolet;
    border: 10px solid black;
}

.box5 {
    width: 300px;
    height: 10px;
    background: #00ff15;
    margin: 10px 50px;
    display: inline-block
}

.box6 {
    width: 300px;
    height: 10px;
    background: #00ff15;
    margin: 10px 25px;
    display: inline-block;
}

.box7 {
    width: 300px;
    height: 10px;
    background: #00ff15;
    margin: 10px 50px;
    display: inline-block;
}

.box8 {
    width: 300px;
    height: 10px;
    background: #00ff15;
    margin: 10px 25px;
    display: inline-block;
    
}

.box9 {
    width: 680px;
    height: 10px;
    background: #00ff15;
    margin: 5px 50px;
    display: inline-block;
    
}


aside {
    width: 400px;
    height: 100px;
    background: blue;
    border: 10px solid black;
   
}

.box10 {
    width: 90%;
    height: 10px;
    background: #00ff15;
    margin: 20px;
   
}

.box11 {
    width: 90%;
    height: 10px;
    background: #00ff15;
    margin: 10px;
    margin-left: 20px;
}
footer {
    margin-top: 10px;;
    width: 1180px;
    height: 15px;
    background: yellow;
    border: 10px solid black;
}

@media (max-width: 600px) {
    
    header {
        width: 100%;
        background: brown;
        border: 10px solid black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    
    section {
        width: 100%;
        display: block;
        border: 20px, solid, yellow;
    }
    aside {
        width: 100%;
        display: block;
        border: 20px, solid, yellow;
    }   
}

@media (max-width: 375px) {

    
    section {
        width: 100%;
        display: block;
        border: 20px, solid, yellow;
    }
    aside {
        width: 100%;
        display: block;
        border: 20px, solid, yellow;
    }   
}